[req]
distinguished_name = req_distinguished_name
req_extensions = v3_req
prompt = no

[req_distinguished_name]
C = BR
ST = Sao Paulo
L = Sao Jose dos Campos
O = My Company
OU = My Org Unit
CN = localhost

[v3_req]
subjectAltName = @alt_names

[alt_names]
DNS.1 = localhost
DNS.2 = my-grpc-server.default.svc.cluster.local  # Exemplo para Kubernetes
IP.1 = 127.0.0.1
IP.2 = 192.168.1.100 # Exemplo de IP da máquina